.ui.stackable.container.grid
  .ten.wide.centered.column
    .ui.raised.very.padded.segment
      h1.ui.header
        a href="/blog/2016-09-08-ppresume-a-new-start/" PPResume，新的起点
        .sub.header
          | SEMPTEMBER 8, 2016
      p 转瞬间，从事自由职业达三年之久。
      p 这个时间甚至超过了我在商业公司“服役”的时长。
      p 完全是计划之外。

    .ui.raised.very.padded.segment
      h1.ui.header
        a href="/blog/2016-04-20-2015-summary/"  2015，徘徊
        .sub.header
          | APRIL 20, 2016
      p 2015 是在徘徊中缓步前行的一年。
      p 这一年技术上进步有限，收入上更是微薄

    .ui.raised.very.padded.segment
      h1.ui.header
        a href="/blog/2015-04-10-2014-summary/"  2014，漫步
        .sub.header
          | APRIL 10, 2015 
      p “亡羊补牢，未为迟也”，15 年已然过了三分之一，而我才开始憋 14 年的年终总结，想来必是颓废日久，点墨已尽的缘故。Anyway, better late than never。
      p 自 11 年毕业后开始养成写年终总结的习惯。时过四载，本人依旧无功无业，闲散江湖。所赖家妻不弃，下嫁与我，如此，14 年才总算没有白过。
      blockquote
        p 很多事来不及思考
        p 就这样自然发生了
        p 在丰富多彩的路上
        p 注定经历风雨

    .ui.raised.very.padded.segment
      h1.ui.header
        a href="/blog/2014-07-25-build-static-site-with-nanoc-2/"  Build Static Site with Nanoc (II)
        .sub.header
          | JULY 25, 2014
      p
        a href="http://xiaohanyu.me/2014/05/04/build-static-site-with-nanoc-1/" > 上篇
        | 主要讲了用 nanoc 来构建一个 static site 的基本原理，这一篇专注于这个 blog 本身的一些设计。
      p
        a href="http://getbootstrap.com/"  Bootstrap
        | 现在大概
      p
        a href="http://semantic-ui.com/"  Semantic UI

    .ui.raised.very.padded.segment
      h1.ui.header
        a href="/blog/2014-05-04-build-static-site-with-nanoc-1/"  Build Static Site with Nanoc (I)
        .sub.header
          | MAY 4, 2014
      p 07 年我开始学会上网，那时候写 blog 应该还是一件相当时髦的事情。而我个人，作为一枚外表木讷闷骚，内心感情丰富的三好有为青年，自然对 blog 保持着强烈的好奇心，从一路转载，到絮叨自嗨，四五年坚持下来，总算找到了一点 blog 的感觉。所谓“工欲善其行，必先利其器”，头上顶了“书写是为了更好的思考”这面响当当的思想大旗，手头自然也希望能升级下一直以来残破不勘凑合能用的写作工具。于是祭出几年前刚开始折腾 Linux 时的那份耐性，断续折腾一年有余，总算略有小成。本文（及后续文章）尝试记录下这个 blog 的一些技术细节，希望对后来人有所启发。
      p
        | 最原始的 blog 应该就是纯静态的个人主页，后来 blog 开始火的时候，各种线上平台一统天下，而对于有点折腾能力的人来说，
      p So, why static?
    
    .ui.raised.very.padded.segment
      h1.ui.header
        a href="/blog/2014-04-16-new-blog-new-start/"  New Blog, New Start
        .sub.header
          | APRIL 16, 2014
      blockquote
        p 书写是为了更好的思考。
        p — 刘未鹏
      p 刚上大学的时候，我给高中同桌发短信咨询 QQ 该怎么用，他回了一条“计算机的教育要从娃娃抓起”……那时候我刚刚学会如何从控制面板里面卸载软件，刚刚学会收发 Email，写 blog 对我来说是一件相当时髦的事情啊。
      | »。


link href="/static/stylesheets/post-home.css" rel="stylesheet" type="text/css"
script src="/static/javascripts/post-home.js"
