.ui.cube.shape .sides {
  border: transparent; }
  .ui.cube.shape .sides > .side {
    width: 920px;
    height: 480px; }
    .ui.cube.shape .sides > .side .ui.card {
      width: 700px;
      height: 300px; }
    .ui.cube.shape .sides > .side .items > .item .content {
      text-align: left; }
      .ui.cube.shape .sides > .side .items > .item .content p.note {
        font-size: 14px;
        line-height: 16px; }
      .ui.cube.shape .sides > .side .items > .item .content .ui.list {
        padding-top: 0.3rem;
        padding-bottom: 0.5rem; }
