body {
  background-color: #e8e8e8; }

h1.ui.header .sub.header {
  margin-bottom: 1.2em;
  margin-top: 1em; }

h1.ui.header {
  font-size: 2.5em; }

p {
  font-size: 1.2em; }

.centered.column .raised.segment {
  margin-top: 2em;
  cursor: pointer; }
  .centered.column .raised.segment:first-child {
    margin-top: 2.5em; }
  .centered.column .raised.segment:last-child {
    margin-bottom: 2.5em; }
  .centered.column .raised.segment.bigger {
    transform: scale(1.05);
    margin-bottom: 3em;
    margin-top: 3em;
    box-shadow: 3px 3px 3px grey;
    backface-visibility: hidden;
    transform: translateZ(0); }
  .centered.column .raised.segment .ui.basic.segment {
    padding-top: 0;
    margin-top: 0; }
    .centered.column .raised.segment .ui.basic.segment i.right.icon {
      padding-top: 0;
      margin-top: 0; }
