---
lang: en
---


.ui.vertical.stripe.segment
  .ui.grid.stackable.center.aligned.container
    .row
      .column
        h1.ui.massive.header Projects I contribute to
    .row
      .github-card data-user="semantic-ui-forest" data-repo="semantic-ui-forest" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="openai" data-repo="gym" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="ppresume" data-repo="docs-notes" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="pptype" data-repo="pandoc-markdown" data-width="500" data-height="" data-theme="medium"
    .row
      .github-card data-user="Semantic-Org" data-repo="Semantic-UI" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="7sDream" data-repo="zhihu-oauth" data-width="500" data-height="" data-theme="medium"
    .row
      .github-card data-user="fabianp" data-repo="memory_profiler" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="liviu-" data-repo="ding" data-width="500" data-height="" data-theme="medium"
  script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"

.ui.vertical.stripe.segment
  .ui.grid.stackable.center.aligned.container
    .row
      .column
        h1.ui.massive.header Repositories I create and work on
    .row
      .github-card data-user="tarvos21" data-repo="80algorithms" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="tarvos21" data-repo="tarvos21.github.io" data-width="500" data-height="" data-theme="medium"
    .row
      .github-card data-user="tarvos21" data-repo="zhihu-homepage-update" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="tarvos21" data-repo="lpthw" data-width="500" data-height="" data-theme="medium"
    .row
      .github-card data-user="tarvos21" data-repo="read-and-write-code" data-width="500" data-height="" data-theme="medium"
      .github-card data-user="tarvos21" data-repo="type" data-width="500" data-height="" data-theme="medium"
  script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"
  // script src="/static/javascripts/widget.js"
