.ui.container.grid
  .row
    .ui.basic.segment
      h1.header Du Bing
      hr
      p I am a junior web developer for now(Feb, 2017), eager to improve my knowledge and skills in computer science and technology.
      p I am located in Wuhan, China, looking for opportunities to work with fanatical and smart persons, remotely(better) or on-site, to make a difference to the world.
      h2 Programming languages I can handle:
      ul.ui.list
        li Python
        li Shell
        li JavaScript
        li HTML / CSS
        li SQL
        li Ruby
      h2 Frameworks I have experiences in:
      ul.ui.list
        li Semantic-UI
        li Bootstrap
        li Flask
        li Nanoc
      h2 Tools I love to use:
      ul.ui.list
        li Vim
        li Git
        li Chrome Developer Tools
        li Tmux
        li Bash / Oh-My-Zsh
        li Spacemacs
      br
      p My email is tarvos21@gmail.com, or you can click <strong>"Contact Me"</strong> on the top right and send a message to me directly.
      hr
  .row
    .ui.basic.segment
      .ui.small.primary.button More about me

  .ui.center.aligned.container.grid
    .row
      .ui.blue.inverted.segment
        .ui.primary.buttons
          .ui.button data-tab="flip right" right
          .ui.button data-tab="flip left" left
          .ui.button data-tab="flip up" up
          .ui.button data-tab="flip down" down
          .ui.button data-tab="flip over" flip over
          .ui.button data-tab="flip back" flip back
    .row
      .ui.basic.segment
        .ui.cube.people.shape
          .sides
            .active.side
              .ui.items
                .item
                  a.ui.medium.image href="http://www.zju.edu.cn/english/" target="_blank"
                    img src="/static/images/zju.png"
                    h3 To Cultivate Interdisciplinary Pioneers and Leaders with International Vision 
                  .content
                    .header Education
                    .meta Sep, 2007 - Jun, 2012
                    .descrition
                      .ui.list
                        .item
                          i.student.icon
                          .content
                            | Bachelor degree in English Language and Literature at 
                            a href="http://www.zju.edu.cn/english/" target="_blank"
                              | Zhejiang University 
                        .item
                          i.thumbs.up.icon
                          .content
                            a href="https://en.wikipedia.org/wiki/College_English_Test#Test_for_English_Majors" target="_blank" TEM-8
                            |  Certificate (Test for English Majors-Band 8, highest level in China) 
                        
                      .ui.ordered.mini.steps
                        .disabled.step
                          .content
                            .title Administration College
                            .meta Sep, 2007 - May, 2008
                        .completed.step
                          .content
                            .title Foreign Language College <sup>1</sup>
                            .meta May, 2008 - Jun, 2012

                      .ui.statistics
                        .statistic
                          .value 87
                          .label Weighted Average Mark <sup>2</sup>
                        .statistic
                          .value 200
                          .label Total Course Credits <sup>3</sup>
                      .ui.divider
                      p.note 1: I suspended college study for personal reason from Jun, 2010 to Sep, 2011
                      p.note 2: Rank in the top 10 percent (full mark is 100)                       
                      p.note 3: Requirement for graduation is 160 credits 

            .active.side
              .ui.items
                .item
                  .ui.slide.masked.reveal.medium.image
                    img.visible.content src="/static/images/excellence.jpg"
                    img.hidden.content src="/static/images/leaf.jpg"
                  .content
                    .header Awards and Honors
                    .meta   
                      .ui.hidden.divider
                    .descrition
                      .ui.list
                        .item
                          i.star.icon
                          .content
                            .header 2008: Student of Excellence, Zhejiang University
                            .ui.hidden.divider
                        .item
                          i.star.icon
                          .content
                            .header 2008: Second Class Academic Scholarship, Zhejiang University
                            .description Top 8% students in every college
                            .ui.hidden.divider
                        .item
                          i.star.icon
                          .content
                            .header 2010: First Prize Winner of the 12th Campus Literature Competition, Zhejiang University
                            .description The only one
                            .ui.hidden.divider
                        .item
                          i.star.icon
                          .content
                            .header 2010: First Prize Winner of the 1st New-Leaf & Guangfa  Literature Competition, Zhejiang University
                            .description The only one
                            .ui.hidden.divider

            .active.side
              .ui.items
                .item
                  .ui.medium.image
                    img.visible.content src="/static/images/contribute.jpg"
                    blockquote
                      p Two road diverged in a wood, and I --
                      p I took the one less traveled by,
                      p And that has made all the difference.
                      footer
                        | Robert Frost, 
                        cite
                          a href="https://en.wikipedia.org/wiki/The_Road_Not_Taken" target="_blank"
                            | The Road Not Taken
                  .content
                    .header Contribution History 
                    .meta I never work passively, I contribute actively
                    .descrition
                      .ui.list
                        .item
                          i.map.icon
                          .content
                            .ui.small.purple.header July, 2008 - October, 2010
                            ul.ui.list
                              li
                                | <b>Hangzhou</b>: news translator, poetry editor at 
                                a href="http://en.hangzhou.com.cn/" target="_blank" Hangzhou Net
                              li
                                | <b>Hailar, Mongolia</b>: hardhat labourer building 
                                a href="https://zh.wikipedia.org/wiki/%E6%B5%B7%E6%8B%89%E5%B0%94%E7%AB%99" target="_blank" Hailar Railway Station
                              li <b>Wuhan</b>: security man at Cambridge Property Management Company
                        .item
                          i.map.icon
                          .content
                            .ui.small.purple.header June, 2012 - February, 2014
                            ul.ui.list
                              li
                                | <b>Beijing and Guangde</b>: Buddhist monk and preacher at 
                                a href="https://zh.wikipedia.org/wiki/%E5%A4%A9%E5%BC%80%E5%AF%BA_(%E5%8C%97%E4%BA%AC)" target="_blank" Tiankai Temple

                        .item
                          i.map.icon
                          .content
                            .ui.small.purple.header March, 2014 - September, 2014
                            ul.ui.list
                              li
                                | <b>Wuhan</b>: insurance agent at 
                                a href="http://en.cntaiping.com/" target="_blank" China Taiping Group
                              li
                                | <b>Shanghai</b>: translator and proofreader at 
                                a href="https://site.douban.com/246051/" target="_blank" Enlightening Translation Study

                        .item
                          i.map.icon
                          .content
                            .ui.small.purple.header September, 2014 - December, 2015
                            ul.ui.list
                              li
                                | <b>Shanghai</b>: salesman and writer at 
                                a href="http://weibo.com/dukoudukou" target="_blank" Ford  Bookstore

                        .item
                          i.map.icon
                          .content
                            .ui.small.purple.header July, 2016 - Present 
                            ul.ui.list
                              li
                                | <b>Remotely</b>: technical trainee and co-worker for 
                                a href="https://github.com/ppresume" target="_blank" PPResume
                                |  at PPType
            .side
              .ui.card
                .content
                  .header Education
                  .descrition
                    p 4

            .side
              .ui.card
                .content
                  .header Education
                  .descrition
                    p 5

            .side
              .ui.card
                .content
                  .header Education
                  .descrition
                    p 6


link href="/static/stylesheets/cube.css" rel="stylesheet" type="text/css"
javascript:
    $('.ui.buttons > .ui.button').on('click', function(attr) {
        var tabId = $(this).attr('data-tab');
            $('.ui.shape').shape(tabId);
              })
    ;
