/* General */
.error {
	border: 1px solid red;
	border-radius: 3px;
	background-color: rgba(255, 0, 0, 0.5);
	padding: 5px;
	font-size: 2em;
	font-family: "Helvetica", Arial, sans-serif;
}

/* Type */
.invalid {
	background-color: red;
	color: white !important;
}

.incomplete {
	color: gray !important;
}

#editor {
	display: none;
	width: 100%;
	height: 100%;
}

#toolbar {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 7px;
	height: 20px;
}

#toolbar > #info {
	float: right;
	margin-right: 14px;
}

#toolbar > #info > #paused {
	font-weight: bold;
}

#info {
  margin: 0 1rem;
  padding-bottm: 0;
  padding-top: 0.2rem;
}

#info  #paused {
	font-weight: bold;
}

#content {
	margin-top: 0px;
}

#content.paused > .CodeMirror {
	opacity: 0.5;
}

/* Index */
.prev-list {
	padding: 0px;
	margin: 0px;
}

.prev-list > li {
	display: inline-block;
	width: 48%;
	list-style: none;
	margin: 5px;
	padding: 5px;
	border: #CCC 1px solid;
	border-radius: 3px;
}

.prev-list > li > a,
.prev-list > li > a:visited {
	text-decoration: none;
	color: blue;
}

/* sticky right rail */
#sticky {
  left: 920px;
  width: 180px;
  padding: 0;
  margin: 0;
}

#sticky .ui.segment {
  padding: 1rem 1rem 1rem 0rem;
  margin: 0 0rem 0 1rem;
}

#sticky .ui.black.inverted.segment {
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.ui.statistic > .label {
  font-size: 0.8rem;
}

#wpm {
  font-size: 1.5rem;
}

#paused {
  font-size: 1.5rem;
  color: red;
}

.CodeMirror {
  font-family: "Monaco", "Ubuntu", "Consolas", monospace;
}

.ui.very.padded.segment.article {
  min-height: 450px;
}
